
algorithms_book/folder_1/__pycache__/

scala_book/.idea/

scala_book/project/target/

scala_book/target/

stepik/data_science/.ipynb_checkpoints/

stepik/data_science/lib/

stepik/data_science/share/

stepik/data_science/include/

stepik/data_science/etc/

stepik/data_science/bin/

rust/guessing_game/target

algorithms_book/folder_2/ex_1/target/

algorithms_book/folder_2/hello-rust/target/
